/* LIGHT Theme */
:root {
	--primary: #e0f2e9;
	--secondary: #0c0c0c;
	--color--accent: #f2c57c;
	--red: #c32f27;
	--green: #09814a;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--cyan: #8be9fd;
	--yellow: #f1fa8c;
	--orange: #ffb86c;

	/* --primary: #1e1f24; */
	--secondary-background: #1e1f24;
	--current-line: #44475a;
	--foreground: #ffec21;
	--comment: #6272a4;
	/*  --green: #50fa7b;*/
	--bar-color: rgb(32, 34, 49);
	--darker-background: rgb(25, 26, 33);
	--darker-background-border: rgb(32, 34, 49);
	/* 
	--sn-stylekit-accessory-tint-color-2: var(--pink);
	--sn-stylekit-accessory-tint-color-3: var(--orange);
	--sn-stylekit-accessory-tint-color-4: var(--cyan);
	--sn-stylekit-accessory-tint-color-5: var(--green);
	--sn-stylekit-accessory-tint-color-6: var(--yellow);
	--sn-component-background-color: var(--primary);
	--sn-component-foreground-highlight-color: var(--highlight-color);
	--sn-component-outer-border-color: var(--comment);
	--sn-component-inner-border-color: var(--foreground);
	--sn-stylekit-shadow-color: var(--comment);
	--sn-stylekit-info-color: var(--color--accent);
	--sn-stylekit-info-contrast-color: var(--primary);
	--sn-stylekit-success-color: var(--green);
	--sn-stylekit-success-contrast-color: var(--primary);
	--sn-stylekit-warning-color: var(--orange);
	--sn-stylekit-warning-contrast-color: var(--primary);
	--sn-stylekit-danger-color: var(--red);
	--sn-stylekit-danger-contrast-color: var(--foreground);
	--sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);
	--sn-stylekit-contrast-border-color: var(--footer-border);
	--sn-stylekit-secondary-contrast-foreground-color: var(--foreground);
	--sn-stylekit-secondary-contrast-border-color: var(--foreground);
	--sn-stylekit-paragraph-text-color: var(--foreground);
	--sn-stylekit-scrollbar-track-border-color: var(--comment);
	--sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);
	--sn-stylekit-grey-5: var(--highlight-color);
	--sn-stylekit-grey-4-opacity-variant: var(--current-line);

	--sn-stylekit-passive-color-4: #0e0c11;
	--sn-stylekit-passive-color-4-opacity-variant: #0000003d;
	--sn-stylekit-passive-color-3: #3d4367;
	--sn-stylekit-passive-color-5: #080507;

	--navigation-item-selected-background-color: var(--sn-stylekit-secondary-contrast-background-color); */

	/* --sn-desktop-titlebar-bg-color: var(--red); */
	/* --ui-text-color: var(--color); */

	--sn-component-foreground-color: var(--green);
	--sn-stylekit-foreground-color: var(--secondary); /** notes - text color */
	--sn-stylekit-neutral-color: var(--color--accent); /** note list card - drag icon ("burger lines" */
	--sn-stylekit-accessory-tint-color-1: var(--color--accent);
	--sn-stylekit-info-color: var(--red); /** note list card - pin icon */
	--sn-stylekit-contrast-foreground-color: var(--secondary); /** note list card - text color */
	--sn-stylekit-background-color: var(--primary); /** note list - background */
	--sn-stylekit-secondary-foreground-color: var(--primary); /** note list - text color */
	--sn-stylekit-secondary-background-color: var(--red); /** aside menu bar */
	--sn-stylekit-secondary-border-color: var(--red);
	--sn-stylekit-border-color: transparent;
	--sn-stylekit-secondary-contrast-background-color: var(--color--accent);

	--sn-desktop-titlebar-bg-color: var(--red);
	--sn-desktop-titlebar-border-color: var(--very-dark-acsent);
	--sn-desktop-titlebar-ui-color: var(--danger);
	--sn-desktop-titlebar-ui-hover-color: var(--color-accent);

	/* --highlight-color: var(--green); */

	--sn-stylekit-neutral-contrast-color: var(--green);
	--sn-stylekit-contrast-background-color: var(--primary); /** background color of - title bar, footer, note list card */
}

.sn-component .sk-panel .sk-panel-footer .left {
	color: var(--foreground);
}

#plus-editor label kbd {
	background-color: var(--sn-stylekit-background-color);
}

/* DARK Theme */
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #0c0c0c;
		--secondary: #e0f2e9;
		/* --border: 1px solid hsla(0, 0%, 100%, 0.16);
		--color-default: #20202a;
		--color-primary: #93c0ff;
		--color-primary-opacity-8: rgba(147, 192, 255, 0.08);
		--color-neutral: #181818;
		--color-neutral-darker: #20202a;
		--color-contrast: #fff;
		--color-contrast-opacity-8: hsla(0, 0%, 100%, 0.08);
		--color-contrast-opacity-16: hsla(0, 0%, 100%, 0.16);
		--color-contrast-opacity-36: hsla(0, 0%, 100%, 0.36);
		--color-contrast-opacity-86: hsla(0, 0%, 100%, 0.86);*/
		/* 		--post-code-background-color: #20202a;
		--post-code-border-color: #20202a; */

		/* --sn-desktop-titlebar-bg-color: var(--red);
		--sn-desktop-titlebar-border-color: var(--very-dark-acsent);
		--sn-desktop-titlebar-ui-color: var(--danger);
		--sn-desktop-titlebar-ui-hover-color: var(--acsent); */
	}
}
